Flask==0.12
Jinja2==2.9.5
MarkupSafe==1.0
PyYAML==3.12
Werkzeug==0.11.15
appdirs==1.4.0
argparse==1.2.1
awscli==1.11.52
blessings==1.6
boto3==1.4.4
botocore==1.5.15
click==6.7
colorama==0.3.7
docutils==0.13.1
futures==3.0.5
itsdangerous==0.24
jmespath==0.9.1
packaging==16.8
prettytable==0.7.2
pyasn1==0.2.2
pyparsing==2.1.10
python-dateutil==2.6.0
rsa==3.4.2
s3transfer==0.1.10
simplejson==3.10.0
six==1.10.0
wsgiref==0.1.2
